{{extend 'layout.html'}}
<h2>
    {{=event.name}} <small>by {{=event.event_by}}</small>
</h2>
<h3>
    at {{=event.event_location or ""}} from {{=event.from_date or ""}} {{=event.start_time or ""}} To {{=event.to_date or ""}} {{=event.stop_time or ""}}
</h3>
<h4>
    <small>Event created by {{=event.created_by.first_name}} {{=event.created_by.last_name}} on {{=event.created_on}}</small>
</h4>
<h4>
    {{=event.count}} people attending
</h4>
{{if auth.is_logged_in():}}
    <p>
        {{=user.name}} {{=user.str}}
    </p>
    <p>
        {{=user.altstr}}<br>
        <div class="btn-group">
            <a class="btn" href="{{=URL('action',args=[event.id,auth.user.id,'yes'])}}">Yes</a>
            <a class="btn" href="{{=URL('action',args=[event.id,auth.user.id,'maybe'])}}">Maybe</a>
            <a class="btn" href="{{=URL('action',args=[event.id,auth.user.id,'no'])}}">No</a>
        </div>
    </p>
{{else:}}
<p>
    Please log in to RSVP.
</p>
{{pass}}
<p>
    {{=MARKMIN(event.description)}}
</p>
